<!doctype html>
<html>
<head>
  <title>Search A Movie</title>
  <link href="https://fonts.googleapis.com/css?family=Asap:400,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/b0536a1302.js"></script>
</head>
<body>
	<div class='container'>
