<% include partials/header.ejs %>

	<h1>Search A Movie <i class="fas fa-film"></i></h1>
<hr>
	<div class='content'>
		Sorry, this page does not exist.
		<a href='/'><button id='backToMainPage'>
			Go Back
			</button></a>
	</div>

	
<% include partials/footer.ejs %>
